# Node.js
node_modules/
dist/
uploads/
.env
token.txt

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage
coverage/
.nyc_output/

# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Java
*.class
*.jar
*.war
target/

# Python
*.py[cod]

# Video files (optional)
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Tests
TEST*.xml

# Assets (optional)
assets/
